.bgColor {
    background-color: #1abc9c;
}

.img{
    max-width: 250px;
}

.titleText{
    font-weight: 700;
    font-size: 2.5rem;
}

.line{
    height: 4px;
    width: 80px;
    background-color: white;
}